/*
  JC Medina's Capstone Project - November 7, 2017
  for refactoring

  1. Global Properties
  2. Links should have a hover state
  3. Look into webkit, modernizr options
*/
/* Global */
body {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}
.container {
  padding: 0px 24px;
}
h1 {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 10px;
  color: #4a4a4a;
  line-height: 1.2;
  margin-top: 32px;
  margin-bottom: 24px;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 8px;
  color: #4a4a4a;
}
p {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.2;
  color: #4a4a4a;
}
span {
  font-weight: 300;
  font-size: 1.2rem;
  color: #4a4a4a;
  line-height: 1.2;
}
/* Header */
header {
  height: 64px;
  background-color: white;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0px 24px;
}
.logo {
  height: 32px;
  display: flex;
  align-items: center;
}
.logotype {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: gray;
}
.logotype-bold {
  font-weight: 700;
  color: black;
}
.nav {
  font-family: 'Lato', sans-serif;
  margin: 0 24px;
}
.nav span {
  margin: 0 16px;
}
/* Hero */
.jumbotron {
  background-color: #dbdbdb;
  display: flex;
  padding: 32px 24px;
}
.left-panel {
  width: 60%;
  overflow: hidden;
}
.left-panel img {
  max-width: 100%;
  height: auto;
}
.right-panel {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-left: 24px;
  width: 23%;
}
button {
  background-color: #4a4a4a;
  padding: 8px 0px;
  margin-top: 10px;
  border: 1px solid black;
}
button a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
button:hover {
  background-color: #232728;
}
/* Information Section */
.updates {
  display: flex;
}
.featured-update {
  padding: 32px 24px;
  width: 60%;
}
.featured-update img {
  width: 100%;
}
.name {
  font-size: 1.2rem;
}
.update-list {
  padding: 16px 24px 16px 0px;
  display: flex;
  flex-direction: column;
  width: 40%;
}
.list-item {
  display: flex;
  border: 1px solid #f2f2f2;
}
.list-item:hover {
  background-color: #d8d8d8;
}
.list-item-link {
  font-size: 1.2rem;
  color: #4a90e2;
  margin-top: 8px;
}
.photo-detail {
  width: 35%;
  padding: 16px;
}
.thumbnail {
  max-width: 100%;
  height: auto;
}
.text-detail {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}
/* Learning */
.learning {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dbdbdb;
  padding: 32px 72px;
}
.courses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.course {
  background: #ffffff;
  margin: 0px 16px 24px 16px;
  width: 30%;
}
.course img {
  max-width: 100%;
  height: auto;
}
.course-text {
  padding: 16px;
}
